/* Main Site CSS */

/* Main variables */
:root{
  --main-bg-color: #34678a;
  --main-bg-color-dark: #0e1c25;
  --main-accent-color: #ff3300;
  --main-footer-color: #112;
}

/* Main elements */
html {
  margin: 0 auto;
  max-width: auto;
}
body {
  background-color: var(--main-bg-color);
  font-family: verdana, sans-serif;
  font-size: 17px;
  padding: 0 1em 1em 1em;
  margin: 0;
}
header {
  /* background-color: #800; */
  padding: 0.5em;
  color: #fff;
}
article {
  background-color: #fff;
  padding-bottom: 1em;
  /* padding-top: 1em; */
}
footer {
  background-color: var(--main-footer-color);
  padding: 1em 0;
}

/* Title */
.title{
  /* display: flex; */
  max-width: 20em;
  background-color: var(--main-accent-color);
  justify-content: center;
  align-items: center;
  padding: .5em;  
}

/* Navbar */
nav {
  margin-top: 2em;
  /* margin-bottom: 1em; */
  border-bottom: .2em solid var(--main-accent-color)
}

/* Navbar buttons */
.btn-group{
  justify-content: left;
  display: flex;
  flex-wrap: wrap;  
}
.btn-group .button {
  background-color: var(--main-bg-color);
  border: .1em solid var(--main-bg-color);
  color: #fff;
  padding: .5em;
  text-align: center;
  font-size: 90%;
  cursor: pointer;
  float: left;
  transition-duration: 0.4s;
}
/* Prevent double borders */
.btn-group .button:not(:last-child) {
  border-right: none; 
}
.btn-group .button:hover {
  background-color: var(--main-bg-color-dark);
  color: #fff;
}
#btn-clicked{
  background-color: var(--main-accent-color);
}

/* Text Styles */
h1 {
  font-size: 150%;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  padding: 0.75em 0 0 0;
  margin: 0 0 0.5em 0;
  text-align: center;
}
h2 {
  font-size: 125%;
  padding: 1em;
  text-align: left;
}
h3 {
  font-size: 110%;
  /* padding: .5em; */
  text-align: left;
}
h4 {
  font-size: 95%;
  padding: 0.025em 0;
}

/* Assignments Explanation List */
.assignmentsList{
  padding: 0em 2em 2em 2em;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 100%;
  line-height: 1.5em;
  text-align: left;
}
a:link {
  color: var(--main-accent-color);
  text-decoration: none;
}

/* a:visited {
  color: #c00;
  text-decoration: none;
} */


figure {
  display: block;
  margin: auto;
  padding: 0.3em 0 0 0;
}
figcaption {
  font-size: 90%;
}
.abstractImg{
  float: left;
  margin: auto;
}

th {
  padding: 0.7em 0 0.3em 0;
}
td {
  padding: 0.2em 0;
}
ul {
  margin: 0.5em 2em;
  padding: 0;
}
li {
  line-height: 1.4em;
  font-size: 95%;
}
caption {
  text-align: left;
  font-weight: bold;
}
th {
  text-align: left;
  font-weight: bold;
}
table {
  padding: 0;
}
td {
  font-size: 95%;
  line-height: 1.5em;
}
