/* Main Site CSS */

/* Main elements */
html {
  margin: 0 auto;
  max-width: flex;
}
body {
  background-color:#34678a;
  font-family: verdana, sans-serif;
  font-size: 17px;
  padding: 0 1em 1em 1em;
  margin: 0;
}
header {
  /* background-color: #800; */
  padding: 0.5em;
  color: #fff;
}
footer {
  background-color: #112;
  padding: 1em 0;
}

/* Title */
.title{
  display: flex;
  max-width: 10em;
  background-color: #ff3300;
  justify-content: center;
  padding: .5em;
}

/* Navbar */
nav {
  margin-top: 2em;
  margin-bottom: 1em;
}

/* Navbar buttons */
.btn-group{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;  
}
.btn-group .button {
  background-color: #4CAF50; /* Green */
  border: 1px solid green;;
  color: white;
  padding: .5em;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  float: left;
  transition-duration: 0.4s;
}
.btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}
.btn-group .button:hover {
  background-color: #3e8e41; /* Green */
  color: white;
}

/* Text Styles */
h1 {
  font-size: 125%;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  padding: 0.75em 0 0 0;
  margin: 0 0 0.5em 0;
  text-align: center;
}
h2 {
  font-size: 105%;
  margin: 0.5 0 0.6em 0;
  text-align: center;
}
h3 {
  font-size: 95%;
  margin: 0.5em 0;
  text-align: center;
}
h4 {
  font-size: 95%;
  padding: 0.025em 0;
}

p {
  font-size: 100%;
  line-height: 1.5em;
  text-align: center;
}
a:link {
  color: #c00;
  text-decoration: none;
}
a:visited {
  color: #c00;
  text-decoration: none;
}


figure {
  display: block;
  margin: auto;
  padding: 0.3em 0 0 0;
}
figcaption {
  font-size: 90%;
}

th {
  padding: 0.7em 0 0.3em 0;
}
td {
  padding: 0.2em 0;
}
ul {
  margin: 0.5em 2em;
  padding: 0;
}
li {
  line-height: 1.4em;
  font-size: 95%;
}
caption {
  text-align: left;
  font-weight: bold;
}
th {
  text-align: left;
  font-weight: bold;
}
table {
  padding: 0;
}
td {
  font-size: 95%;
  line-height: 1.5em;
}
article {
  background-color: #fff;
  padding-bottom: 1em;
}