/* Main Site CSS */

/* Main variables */
:root{
  --main-bg-color: #34678a;
  --main-bg-color-dark: #0e1c25;
  --main-accent-color: #ff3300;
  --main-footer-color: #112;
}

/* Main elements */
html {
  margin: 0 auto;
  max-width: auto;
}
body {
  background-color: var(--main-bg-color);
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  padding: 0 5em 2em 5em;
  margin: 0;
}
@media only screen and (max-width: 600px){
  /* Body with less margins if screen is on mobile */
  body {
    background-color: var(--main-bg-color);
    font-family: verdana, sans-serif;
    font-size: 17px;
    padding: 0 1em 2em 1em;
    margin: 0;
  }
}
header {
  /* background-color: #800; */
  padding: 0.5em;
  color: #fff;
}
article {  
  background-color: #fff;
  padding-bottom: 1em;
  margin: 1em 0 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 1em; */
}
section{  
  padding: 1em 2em 1em 2em;
  width: 75%;
  max-width: 75em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
p {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  line-height: 1.5em;
  text-align: left;
}
footer {
  background-color: var(--main-footer-color);
  padding: 1em 0;
}

/* Title */
.title{
  /* display: flex; */
  max-width: 20em;
  background-color: var(--main-accent-color);
  justify-content: center;
  align-items: center;
  padding: .5em;  
}

/* Navbar */
nav {
  margin-top: 2em;
  /* margin-bottom: 1em; */
  border-bottom: .2em solid var(--main-accent-color)
}

/* Navbar buttons */
.btn-group{
  justify-content: left;
  display: flex;
  flex-wrap: wrap;  
}
.btn-group .button {
  background-color: var(--main-bg-color);
  border: .1em solid var(--main-bg-color);
  color: #fff;
  padding: .5em;
  text-align: center;
  font-size: 90%;
  cursor: pointer;
  float: left;
  transition-duration: 0.4s;
}
/* Prevent double borders */
.btn-group .button:not(:last-child) {
  border-right: none; 
}
.btn-group .button:hover {
  background-color: var(--main-bg-color-dark);
  color: #fff;
}
#btn-clicked{
  background-color: var(--main-accent-color);
}

/* Text Styles */
h1 {
  font-size: 180%;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  padding: 0.75em 0 0 0;
  margin: 0 0 0.5em 0;
  text-align: center;
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 125%;
  text-align: left;
}
h3 {
  font-size: 130%;
  text-align: left;
}
h4 {
  font-size: 95%;
  text-align: left;
  padding-left: 3em;
}


a:link {
  color: var(--main-accent-color);
  text-decoration: none;
  width: 100%;
}
/* a:visited {
  color: #c00;
  text-decoration: none;
} */


figure {
  display: block;
  margin: auto;
  padding: 0.3em 0 0.3em 0;
}
figcaption {
  font-size: 90%;
}
.leftImg{
  float: left;
  width: 100%;
  height: auto;
  margin: auto;
}
.rightImg{
  float: right;
  width: 100%;
  height: auto;
  margin: auto;
}

/* Lists */
ul,ol {  
  margin: 0.5em 2em;
  padding: 0;
  width:100%;
}
ul,ol a{
  word-wrap: break-word;
}
li {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4em;
  margin: .25em 0 .25em;
  font-size: 100%;
}

caption {
  text-align: left;
  font-weight: bold;
}
th {
  text-align: left;
  font-weight: bold;
}
table {
  padding: 0;
}
td {
  font-size: 95%;
  line-height: 1.5em;
}